.side-nav-pull{
	background: #878889;
	width: 240px;
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: -230px;
	padding-left:10px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border-right:10px solid #A3A4A5;
}
